<% layout('layouts/boilerplate')-%>
    <div id="cluster-map"></div>
    <h1>All the Campgrounds</h1>
    <a href="/campgrounds/new">Add new</a>
    <hr>
    <% for (let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <%if(campground.images.length){%>
                        <img src="<%=campground.images[0].url%>" alt="" class="img-fluid" crossorigin="anonymous">
                        <%} else {%>
                            <img src="https://res.cloudinary.com/dxoaqvrtb/image/upload/v1741329778/YelpCamp/wszvn3ksbpjgl6xmjpbf.jpg"
                                alt="" class="img-fluid" crossorigin="anonymous">
                            <%}%>

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=campground.title%>
                        </h5>
                        <p class="card-text">
                            <%=campground.description%>
                        </p>
                        <p class="card-text">
                            <small class="text-black-50">
                                <%=campground.location%>
                            </small>
                        </p>
                        <a href="/campgrounds/<%=campground._id%>" class="btn btn-outline-secondary">See
                            <%=campground.title %></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

<script>
    const mapTilerApiKey = '<%-process.env.MAPTILER_API_KEY%>';
    const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
</script>
<script src="/javascripts/clusterMap.js"></script>

